.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-yaco {
  width: 1.84765625em;
}

.icon-tacline {
  width: 1.84765625em;
}

.icon-listcompany {
  width: 1.84765625em;
}

.icon-foster {
  width: 1.84765625em;
}

.icon-company {
  width: 1.84765625em;
}

.icon-brand {
  width: 1.84765625em;
}

.icon-facebook {
  width: 0.5em;
}
